@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

.app{
    display: flex;
    flex-direction: column;
}

.entered-card{
    display: flex;
    border: 1px black;
    border-radius: 5px;
}

/* .education-inputs{
    display: flex;
    justify-content: space-between;
} */
/* 
.card-container{
    display: flex;
} */